<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
  {% include 'navbar.html' %}
    <div class="login">
        <div class="main"></div>
            <div class="header">
                <h1 style="color: #464646;">Welcome <br> <span style="color: #F6BE51;">To</span> Our <span style="color: #F6BE51;">Website</span></h1>
            </div>
            <form class="form" method="POST" action="{% url 'loginUser' %}">
              {% csrf_token %}
                <h2>Welcome!</h2>
                <div class="input-form">
                    <input type="text" placeholder="Login" name="username">
                </div>
                <div class="input-form">
                    <input type="password" placeholder="Password" name="password">
                </div>
                <div class="forgotPassword">
                    <div id="_checkBox"> <input type="checkbox" value="None" id="roundedOne" name="check" checked />
                        <label for="roundedOne"></label>Remember my password</div>
                </div>
                <div class="input-form-submit">
                    <input type="submit" value="Log in">
                    <br>
                    <div class="message">
                      {% if messages %}
                        {% for message in messages %}
                          <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
       
            </form>
           
        </div>
      
    </div>
 
</body>
</html>